
{% extends '../base-index.html' %}
{% load static %}
                    
{% block content %}
                   
                    
                    
<div class="contenedor">
    
    

        <div class="col-sm-12 col-md-12 col-xl-12 col-lg- bd-secondary ">
        
            <p class="display-4 mt-4 ml-5" style="font-size: 40px;">Bienvenid@ : {{ request.user.nombre_1}} {{ request.user.apellido_1 }} 
                &nbsp; <a href="/socio/perfil/{{ request.user.perfil }}" class="badge badge-secondary"  style="font-size: 15px;">Ver mi Perfil</a>
            </p>                        

        </div>
                        
        <div class="row mt-1 ml-5"> <!--inicio fila principal-->
                                                    
            <div class="col-xl-8 col-lg-8 d-none d-lg-block d-xl-block clearfix bd-secondary ">
            </div>                    

            <!-- <div class="col-4  mt-5"> -->
            

            {% if asientos %}
            <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 clearfix bd-secondary">
                <h3 class="display-4 mt-5 ml-5" style="font-size: 20px;">Asientos en cuenta Num: {{ request.user.cuenta_numero }} - {{ request.user.id_cc }} </h3>
                
            </div>

            <div class="col-sm-12 col-md-12 col-xl-8 col-lg-8 clearfix bd-secondary">
                
                <table class="table ">
                    <thead>
                        <tr>
                            <!-- <th>Item</th> -->
                            <th>Fecha</th>
                            <!-- <th>Num. Cuenta</th> -->
                            <th>Ticket</th>
                            <th>Concepto</th>
                            <th>Estado</th>
                            <th>Valor</th>
                        </tr>
                    </thead>         
                    <tbody>
                    {% for asiento in asientos %}
                        <tr>
                            <!-- <td>{{ asiento.id_cc }}</td> -->
                            <td>{{ asiento.fecha | date:'Y/m/d'}}</td>
                            <!-- <td>{{ asiento.fecha | date:"SHORT_DATE_FORMAT"}}</td> -->
                            <!-- <th>{{ asiento.cuenta }}</th> -->
                            <td>{{ asiento.ticket }}</td>
                            <td>{{ asiento.concepto }}</td>
                            <td>{{ asiento.estado }}</td>
                            <td>$ {{ asiento.valor}}</td>   
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>

                <!-- <div class="col-sm-12 col-md-12 col-xl-4 col-lg-4 col-lg-4 clearfix bd-secondary" style="background-color: azure;"> 
                   
                 </div> -->


                {% else %}
                
            <div class="col-sm-12 col-md-12 col-xl-8 col-lg-8 clearfix bd-secondary">
                <h5 class="display-4 mt-5 ml-5" style="font-size: 40px;">La cuenta no registran asientos </h5>
            </div>
        
        {% endif %}

        
        

</div> <!--fin contenedor-->

<br>
<hr>

{% endblock content %}