
{% load static %}


{% block content %}

{% extends '../base-index.html' %}
{% load static %}


{% block content %}

<!-- <style type="text/css">
	#contenedor{
		background: #930;
		padding: 10px;
		overflow: hidden;
	}
	#izquierda{
		float: left;
		color: #fff;
		padding: 10px;
		width:300px;
		margin: 40px;
		/*background: #039*/
	}
	#derecha{
		float: left;
		color: #fff;
		padding: 10px;
		width:300px;
		margin: 40px;
		/*background: #039*/
	}
</style> -->

<section class="callaction">
<div class="contenedor">

	<div class="row "> <!-- row -->
		<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 bd-secondary ">

			<h5 class="display-4 mt-5 ml-5" style="font-size: 40px;">Área de socios</h5>
			<hr/>

		</div>
	</div>

	<div class="row mt-1">


	<div class="col-xl-4 col-lg-4 d-none d-lg-block d-xl-block clearfix bd-secondary">
	</div>

		<!-- <div class="col-4  mt-5"> -->
		<div class="col-sm-12 col-md-12 col-xl-4 col-lg-4 clearfix bd-secondary ">
			<h3 class="display-4 mt-3 ml-2 mr-3 " style="font-size: 30px;">Cambiar Password</h3>
			<hr/>
			
			<form method="post" class="form-signin mt-3 mr-3 ml-2">
      
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-secondary w-100 ">enviar</button>
        </form>

			
		</div>

	</div>
	
</div>


</div> <!-- row-->
</div> <!-- contenedor-->

</section>
{% endblock content %}

{% endblock %}











