{% extends '../../base-index.html' %}
{% load static %}

{% block content %}



<section class="callaction ">

  <div class="container ">
    
    
    <br>
      <div class="row mb-5">
        
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 clearfix ">
          <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 bd-secondary ">
            <h5 class="display-4 mt-2" style="font-size: 40px;">Ups! ERROR: El proceso termino con errores !!</h5>
            <hr/>
            
            <h3 class="display-4 mt-3" style="font-size: 30px;">No se modificó ningún dato</h3>

            <a class="text-muted mt-2" href="/socio/cc_asiento/"><small><strong>Ir a Mi Perfil</small></strong></a>
            &nbsp;&nbsp;
            <a class="text-muted mt-2" href="{% url 'index' %}"><small><strong>ir a Inicio</small></strong></a>
            &nbsp;&nbsp;
            {% if user.is_superuser%}
            <a class="text-muted mt-2" href=" {% url 'socio:actualizar_asiento' %}"><small><strong>ir a Actualizar Asientos</small></strong></a>
            {% endif %}
            <hr/>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %} 