{% extends 'base-index.html' %}
{% load static %}
{% block content %}
<!-- Blog 2 -->


<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="inner-heading">
                    <h2> Enlace en construcción </h2>
                </div>
            </div>
            <div class="span8">

            </div>
        </div>
    </div>
</section>

<section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>404</h2>
            </div>
          </div>
          <div class="span8">

          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <h2 class="aligncenter">404 Error not found</h3>
				<p class="aligncenter">
					Estamos trabajando en esta página.
				</p>
			</div>
		</div>
	</div>
	</section>


{% endblock content %}