{% extends 'base-index.html' %}
{% load static %}

{% block content %}



<section class="callaction ">
  <div class="container ">
      <div class="row mt-5 mr-1 ml-1 mb-4">
        <p class="text-justify lead mb-4" style="font-size: 15px; " >
        Algunos artículos seleccionados del Estatuto de la Asociación. El estatuto completo está a disposición del Asociados a su simple pedido.
        </p>
      </div>
      <div class="row mt-2 mr-1 ml-1">
        <p class="text-justify text-justify lead" style="font-size: 20px;">        
        <u>ESTATUTO</u>
        </p> 
      </div>
    
<div class="row mt-2 mr-1 ml-1"> 
    <p class="text-justify lead mb-4" style="font-size: 15px; " >
    DENOMINACION, DOMICILIO, OBJETO, CAPACIDAD Y PATRIMONIO
    </p>
</div>




<div class="row mt-2 mr-1 ml-1"> 
    <p class="text-justify lead mb-4" style="font-size: 15px; " >
        <kbd>Artículo 1:</kbd> En la localidad de La Plata, Partido de La Plata de la Provincia de Buenos Aires, donde tendrá su domicilio social, queda constituída una Asociación de carácter civil denominada: <strong><u> DE DERMATOLOGIA VETERINARIA ARGENTINA </u></strong> que tendrá por objeto:

a) Promover el conocimiento y la divulgación de la Dermatología Veterinaria

b) Estimular las investigaciones y el estudio de la dermatología veterinaria;

c) Difundir por medio de comunicaciones y publicaciones los conocimientos alcanzados en la materia y dar cuenta de la actividad societaria y de la de sus integrantes;

d) Propender a la vinculación y cooperación académica nacional e internacional de sus integrantes;

e) Responder y elucidar las consultas y cuestiones inherentes a sus propósitos que se le hicieren llegar;

f) Estimular el acopio y la conservación de bibliografía, objetos, instrumental, iconografía referente a dermatología veterinaria de interés para el objetivo societario.

g) Prestar colaboración a entidades de bien público oficiales o privadas, cuando las circunstancias lo requieran

h)Relacionarse con entidades de iguales características y organismos Municipales, Provinciales o Nacionales, Públicos o Privados para el logro de sus finalidades.
</p>
</div>
<div class="row mt-2 mr-1 ml-1"> 
    <p class="text-justify lead mb-4" style="font-size: 15px; " >
        DE LOS ASOCIADOS
    </p>
</div>

<div class="row mt-2 mr-1 ml-1"> 
    <p class="text-justify lead mb-4" style="font-size: 15px;" >
        <kbd>Artículo 4º:</kbd> Habrá cuatro categorías de asociados: Honorarios, Vitalicios, Activos, Protectores y Aherentes.
    </p>
    <p class="text-justify lead mb-4" style="font-size: 15px;" >
<kbd>Artículo 5º:</kbd> Serán socios <u>HONORARIOS</u> aquellos que, con residencia en el país o fuera de él, se destaquen por su labor científica, por sus servicios prestados a la Asociación o por determinadas condiciones personales y a propuesta de la Comisión Directiva y juicio de los dos tercios de los integrantes de la Asamblea merezcan ese homenaje.
</p>
<p class="text-justify lead mb-4" style="font-size: 15px;">
    <kbd>Artículo 6º:</kbd> Serán socios <u>VITALICIOS</u> los que cuenten con una antigüedad efectiva de 30 (treinta) años como socios activos, sin perder esta condición.
</p>
<p class="text-justify lead mb-4" style="font-size: 15px;" >
    <kbd>Artículo 7º:</kbd> Serán socios <u>ACTIVOS</u>, a partir de la fecha de aceptación como tales por la Comsión Directiva, quienes cumplan los siguientes requisitos: ser veterinario o médico veterinario egresado de universidades argentinas o los que tuvieren título extranjero revalidado en el país, asociados a la Sociedad de Medicina Veterinaria e interesados en los objetivos de la Asociación que manifiesten por escrito su voluntad de pertenecer a ella,De la decisión de la Comisión Directiva, deberá dejarse constancia en el Acta. En caso de rechazo solo deberá quedar constancia de ello sin que sea obligatorio expresar las causas. Serán aceptados por la Comisión Directiva por mayoría simple de votos
</p>

<p class="text-justify lead mb-4" style="font-size: 15px;" >
    <kbd>Artículo 8º:</kbd> Serán socios <u>PROTECTORES</u> los que con sus donativos de dinero, bienes o servicios fomenten en forma notoria los fines de la entidad.
</p>

<p class="text-justify lead mb-4" style="font-size: 15px;" >
    <kbd>Artículo 9º:</kbd> Serán socios <u>ADHERENTES</u> todas aquellas personas que a juicio de la Comisión Directiva puedan pertenecer a la Asociación sin reunir las condiciones mencionadas en los artículos 4, 5, 6 y 7 .
</p>

<p class="text-justify lead mb-4" style="font-size: 15px;" >
    DE LA COMISIÓN DIRECTIVA
</p>

<p class="text-justify lead mb-4" style="font-size: 15px;" >
    <kbd>Artículo 17º:</kbd> La institución será dirigida y administrada por una Comisión Directiva integrada por socios activos, vitalicios y honorarios elegidos por pluralidad de votos conforme a lo dispuesto por los artículos 28 y 33. Estará compuesta por un Presidente, un Vicepresidente, un Secretario, un Tesorero, un Vocal Titular, un Vocal Suplente, Dosre Revisores de Cuentas Titulares y un Revisor de Cuentas Suplente.

El mandato de los miembros de la Comisión Directiva y de la Comisión Revisora de Cuentas durará cuatro años, pudiendo ser reelectos en el mismo cargo, por una sola vez concecutiva , en cargos distintos de la Comisión Directiva sin limitaciones. Los mandatos serán revocables en cualquier momento por decisión de una asamblea de asociados, estatutariamente convocada y constituída con el quorum establecido en el artículo 32º para 1º y 2º convocatoria.
</p>

<p class="text-justify lead mb-4" style="font-size: 15px;" >
    <kbd>Artículo 20º:</kbd> La Comisión Directiva se reunirá por lo menos una vez por mes, por citación de su Presidente y extraordinariamente cuando lo disponga el Presidente o lo soliciten tres de sus miembros, debiendo en estos casos realizarse la reunión dentro de los cinco días hábiles de efectuada la solicitud. La citación en los dos casos deberá ser efectuada en forma fehaciente, al último domicilio conocido de cada uno de los integrantes de la Comisión Directiva. Los miembros de la Comisión Directiva que faltaren sin causa justificada a 3 (tres) reuniones consecutivas o 5 (cinco) alternativas, serán separados de su cargo en reunión de Comisión Directiva previa citación fehaciente al miembro para que efectúe los descargos pertinentes.
</p>


<div class="row mt-2 mr-1 ml-1"> 
    <p class="text-justify lead mb-4" style="font-size: 15px; " >
        DE LAS ASAMBLEAS
    </p>
</div>




<div class="row mt-2 mr-1 ml-1"> 
    <p class="text-justify lead mb-4" style="font-size: 15px;" >
        <kbd>Artículo 29º:</kbd> Las Asambleas son Ordinarias y Extraordinarias. .
    </p>











<p class="text-justify lead mb-4" style="font-size: 15px;" >
1. Las Asambleas Ordinarias tienen lugar una vez por año, dentro de los 90 (noventa) días corridos posteriores al cierre del ejercicio y tienen por objeto informar a los asociados de la marcha de la Asociación, nombrar los miembros que deben reemplazar a los salientes de la Comisión Directiva y tratar cualquier otro asunto propuesto por la Comisión Directiva o por uno o más socios, siempre que, en este último caso, la moción obtenga la mayoría de votos de los presentes.

2. Las Asambleas Extraordinarias tendrán lugar todas las veces que la Comisión Directiva lo estime necesario o por pedido escrito de ocho socios activos, vitalicios u honorarios, quienes indicarán el objeto de la convocatoria que constituirá el orden del día. No se tratarán asuntos ajenos a la convocatoria.

3. En ambos casos se citará a los socios por correspondencia tradicional o correo electrónico con anticipación de por lo menos treinta días corridos para las Ordinarias y de diez para las Extraordinarias.

4. Con la citación se enviará el orden del día y, para el caso de las Asambleas Ordinarias, la nómina de los cargos de Comisión Directiva a renovar y la de aquellos que continúan en sus funciones.

5. Para participar en las Asambleas y en las elecciones de miembros de Comisión Directiva los socios activos y protectores deben tener una antigüedad de un año.
</p>

<p class="text-justify lead mb-4" style="font-size: 15px;" >

<kbd>Artículo 28o:</kbd> Las Asambleas se constituyen a la primera citación con la concurrencia de no menos de un tercio de los socios activos, vitalicios, protectores y honorarios. Si el quórum no fuera logrado en la primera convocatoria se citará por segunda vez, no antes de haber transcurrido una hora de la primera y con el número de socios presentes quedará constituida la Asamblea.
</p>
<p class="text-justify lead mb-4" style="font-size: 15px;" >

<kbd>Artículo 29o:</kbd> Las resoluciones de las Asambleas son mandatos imperativos y se tomarán por simple mayoría de votos de los socios presentes, salvo las excepciones contempladas en el presente estatuto. En caso de empate el voto del Presidente de la Asamblea se computará doble.
</p>
<p class="text-justify lead mb-4" style="font-size: 15px;" >

<kbd>Artículo 30o:</kbd> Toda resolución de la Asamblea podrá ser reconsiderada en otra Asamblea, por una sola vez, a petición escrita de, por lo menos, la quinta parte de los socios activos, vitalicios, protectores y honorarios de la Asociación. Para modificar la resolución en reconsideración se requieren los votos de las dos terceras partes de los socios presentes.
</p>
<p class="text-justify lead mb-4" style="font-size: 15px;" >

<kbd>Artículo 31o:</kbd> En caso de disolución de la Asociación surgida del dictamen de Asamblea, la Sociedad de Medicina Veterinaria se hará depositaria de la Asociación convirtiéndose en administradora de sus fondos y patrimonio hasta tanto pueda volver a constituirse. Si ello no sucediere en el término de los tres años subsiguientes, el patrimonio residual pasará a la Sociedad de Medicina Veterinaria.
</p>
<p class="text-justify lead mb-4" style="font-size: 15px;" >

<kbd>Artículo 32o:</kbd> A los fines de la elección para la renovación de la Comisión Directiva se establece los siguiente:

1. La elección de los miembros de la Comisión Directiva se efectuará por mayoría simple, por cargo y mediante voto secreto de los socios activos, vitalicios, honorarios y protectores presentes en la Asamblea.

2. En caso de empate de votos se procederá a nueva votación entre los dos más votados.

3. Todos los socios activos, vitalicios y honorarios son candidatos a integrar la Comisión Directiva, salvo expresa oposición personal.

4. El escrutinio de la votación se realizará en un solo acto por una Junta Escrutadora de tres socios hábiles, designada al comienzo de la Asamblea respectiva.

5. El resultado de las elecciones será comunicado a la Asamblea por el Presidente, quien proclamará los candidatos electos..
</p>



<div class="row mt-2 mr-1 ml-1"> 
    <p class="text-justify lead mb-4" style="font-size: 15px; " >
        DISPOSICIONES GENERALES
    </p>
</div>

<div class="row mt-2 mr-1 ml-1"> 

<p class="text-justify lead mb-4" style="font-size: 15px;" >
    <kbd>Artículo 33o:</kbd> El ejercicio anual de la sociedad se iniciará el 1o de Marzo y concluirá el último día de Febrero del año siguiente.
</p>
<p class="text-justify lead mb-4" style="font-size: 15px;" >
    <kbd>Artículo 34o:</kbd> La Comisión Directiva está facultada para celebrar con entidades afines convenios de reciprocidad con el objeto de propender en común a la mejor consecución de los fines societarios, como así también a estimular la creación de círculos regionales o distritales en el interior del país como ramas de la Asociación.
</p>
<p class="text-justify lead mb-4" style="font-size: 15px;" >
DISPOSICIONES TRANSITORIAS
</p>
<p class="text-justify lead mb-4" style="font-size: 15px;" >
    <kbd>Artículo 35o:</kbd> Para la elección de la primera Comisión Directiva serán candidatos las personas físicas que se hayan inscrito en los registros abiertos para socios activos el día de la Asamblea Constituyente y asistieren a ella.
</p>
<p class="text-justify lead mb-4" style="font-size: 15px;" >
    <kbd>Artículo 36o:</kbd> Para la duración en sus cargos de los miembros de la primera Comisión Directiva será de aplicación el artículo 16 del presente Estatuto.
</p>
<p class=" text-justify mt-4 mr-1 ml-1 mb-5">
    <kbd>Artículo 37o:</kbd> Serán considerados Socios Fundadores todas aquellas personas físicas que suscribieron el acta de constitución del …..de ….. de ……….
</p>
       
      </div>
    </div>
</section>
{% endblock %} 