{% load static %}
<!-- Footer -->
<!-- <footer class="page-footer font-small mdb-color lighten-3 pt-4"> -->

  <footer class="page-footer font-small text-muted bg-dark lighten-3 pt-4">
    
    
      <h5 class="display-4 ml-5" style="font-size: 30px;">SADeVE </h5>


    

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    
    <!-- Grid row -->
    <div class="row ">
      

      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 clearfix mt-4">
        <!-- Content -->
        <h5 class="display-4 mb-4" style="font-size: 30px;" >Estructura</h5>
        <p class="lead" style="font-size: 15px;">Esta sociedad cuenta con una Comisión Directiva, constituida por:</p>
        <p class="lead" style="font-size: 15px;">Un Presidente, un Vicepresidente, un Secretario, un Tesorero, Vocales titulares y suplentes y Revisores de cuentas titulares y suplente, mientras que los socios se dividen en:</pclass="lead" style="font-size: 15px;">
        <p class="lead" style="font-size: 15px;">activos, vitalicios, honorarios, protectores y adherentes.</p>


      </div>

      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 clearfix mt-4">
        <h5 class="display-4 mb-4" style="font-size: 30px;">Links de Interés</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="http://www.sbdv.com.br/"  class="lead text-secondary" style="font-size: 15px;" >Sociedade Brasileira de Dermatologia Veterinária</a>
            </p>
          </li>
          <li>
            <p>
              <a href="http://www.acvd.org/"  class="lead text-secondary" style="font-size: 15px;" >American College of Veterinary Dermatology</a>
            </p>
          </li>
          <li>
            <p>
              <a href="http://sldvweb.com/"  class="lead text-secondary" style="font-size: 15px;" >Sociedad Latinoamericana Dermatologia Veterinaria</a>
            </p>
          </li>
          <li>
            <p>
              <a href="https://www.esvd.org/events_calendar"  class="lead text-secondary" style="font-size: 15px;" >European Society of Veterinary Dermatology</a>
            </p>
          </li>
          <li>
            <p>
              <a href="https://wavd.org/"  class="lead text-secondary" style="font-size: 15px;">Asociación Mundial para la Dermatología Veretinaria</a>
            </p>
          </li>
          <li>
            <p>
              <a href="https://isvd.org/"  class="lead text-secondary" style="font-size: 15px;" >Sociedad Internacional de Dermatología Veterinaria</a>
            </p>
          </li>
        </ul>
        
      </div>

      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 clearfix mt-4">

        <h5 class="display-4 mb-4" style="font-size: 30px;">Contactos</h5>

        <ul class="list-unstyled">
          <li>
            <div class="lead" style="font-size: 15px;">
              <!-- <a href="{% url 'post-list' %}"><img class="rounded-circle" alt="100x100" width="100px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
              data-holder-rendered="true"> </a> -->

              <span>
                <p class="lead" style="font-size: 15px;"><i class="fas fa-home mr-3"></i>Postal</p>
              </span>

              <p class="lead" style="font-size: 15px;">
              Calle 000, # 000, La Plata<br>
              CP 1900,<br>
              Buenos Aires, Aregentina
              </p>
            </div>
          </li>


          <li>
            <div class="lead" style="font-size: 15px;">
              <!-- <a href="{% url 'post-list' %}"><img class="rounded-circle" alt="100x100" width="100px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
              data-holder-rendered="true"> </a> -->

              <span>
                <p class="lead" style="font-size: 15px;"><i class="fas fa-envelope mr-3"></i>E-mail</p>
              </span>

              <p class="lead" style="font-size: 15px;">
                info@sadeve.com.ar <br>
                socios@sadeve.com.ar
              </p>
            </div>
          </li>

          <li>
            <div class="lead" style="font-size: 15px;">
              <!-- <a href="{% url 'post-list' %}"><img class="rounded-circle" alt="100x100" width="100px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
              data-holder-rendered="true"> </a> -->

              <span>
                <p class="lead" style="font-size: 15px;"><i class="fas fa-phone mr-3"></i>Teléfonos</p>
              </span>

              <p class="lead" style="font-size: 15px;">
                + 54 9 221 432 0293<br>
                + 54 9 221 432 0293
              </p>
            </div>
          </li>

          <li>
            <div class="lead" style="font-size: 15px;">
              <!-- <a href="{% url 'post-list' %}"><img class="rounded-circle" alt="100x100" width="100px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
              data-holder-rendered="true"> </a> -->

              <span>
                <p class="lead" style="font-size: 15px;"><i class="fas fa-print mr-3"></i>Fax</p>
              </span>

              <p class="lead" style="font-size: 15px;">
                &nbsp;+ 54 9 221 432 0293
              </p>
            </div>
          </li>

       

        </ul>

      </div>
        


      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 clearfix mt-4">
        <h5 class="display-4 mb-4" style="font-size: 30px;"> Redes</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>&nbsp;
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-twitter"></i>
        </a>&nbsp;
        <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-instagram"></i>
        </a>&nbsp;
        <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-linkedin"></i>
        </a>&nbsp;
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a> &nbsp;
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>

      <div>
        <hr style="
          border: 0;
          height: 0;
          /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
          border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      ">
        <h5 class="display-4 mb-4" style="font-size: 30px;">Socios Protectores</h5>

        <a href="https://ar.zoetis.com"> <img src="{% static 'img/socios_footer_zoetis.jpg' %}" width="100px" class="rounded-circle float-left">
        </a>
        
        <a href="https://www.royalcanin.com"> <img src="{% static 'img/socios_footer_royal.jpg' %}" width="100px" class="rounded-circle float-right">
        </a>

        <!-- Facebook -->
        <!-- <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>&nbsp; -->
        <!-- Twitter -->
        <!-- <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-twitter"></i>
        </a>&nbsp; -->
        <!-- Google +-->
        <!-- <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a>&nbsp; -->
        <!-- Dribbble -->
        <!-- <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a> -->
        
      </div>
      
      

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <hr style="
          border: 0;
          height: 0;
          /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
          border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      ">
  <div class="footer-copyright text-center py-3">© 2020 Copyright: SADeVe
    <br>
  
  
    <a class="lead text-secondary" style="font-size: 15px; color:#FFFFFF;"  href="https://www.instagram.com/hcsinergia"><small>Desarrollado por: HC Sinergia S.A. </small> </a>

  </div>
  
  
  <!-- Copyright -->

</footer>
<!-- Footer -->
