{% load static %}

<head>
  <meta charset="utf-8">
  <title>SADEVE - Sociedad Argentina de Dermatología Veterinaria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!-- css -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700" rel="stylesheet"> -->
  <!-- <link href="{% static 'index-look/css/bootstrap.css' %}" rel="stylesheet" /> -->
  <!-- <link href="{% static 'index-look/css/bootstrap-responsive.css' %}" rel="stylesheet" /> -->
  <!-- <link href="{% static 'index-look/css/fancybox/jquery.fancybox.css' %}" rel="stylesheet"> -->
  <!-- <link href="{% static 'index-look/css/jcarousel.css' %}" rel="stylesheet" />
  <link href="{% static 'index-look/css/flexslider.css' %}" rel="stylesheet" />-->
  <!-- Theme skin -->
  <!-- <link href="{% static 'index-look/skins/blue.css' %}" rel="stylesheet" /> -->
  <!-- Fav and touch icons -->
  <!-- <link href="{% static 'index-look/css/style.css' %}" rel="stylesheet" /> -->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'index-look/ico/apple-touch-icon-144-precomposed.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'index-look/ico/apple-touch-icon-114-precomposed.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'index-look/ico/apple-touch-icon-72-precomposed.png' %}" />
  <link rel="apple-touch-icon-precomposed" href="{% static 'index-look/ico/apple-touch-icon-57-precomposed.png' %}" />
  <link rel="shortcut icon" href="{% static 'index-look/ico/favicon.png' %}" />

  <!-- Bootstrap core JavaScript-->
  <!-- <script src="{% static 'static_bootstrap4/plugins/jquery_3.4.1/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'static_bootstrap4/plugins/bootstrap_4.4.1/popper.min.js' %}"></script>
  <script src="{% static 'static_bootstrap4/plugins/bootstrap_4.4.1/bootstrap.min.js' %}"></script> -->
  <!-- Font Awesome CSS-->
  <!-- <link rel="stylesheet" href="{% static 'icons/fontawesome/css/fontawesome.min.css' %}"> -->
  <!-- <link rel="stylesheet" href="static/icons/fontawesome/css/all.css"> -->
  <link rel="stylesheet" href="{% static 'icons/fontawesome/css/all.css' %}" />

</head>
