{% load static %}


    
<div class="col-12">
    <div class="row">
        
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 clearfix">
            <div>
                <div class="text text-center">
                    <!-- <a href="{% url 'post-list' %}"><img class="rounded-circle" alt="100x100" width="100px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                    data-holder-rendered="true"> </a> -->

                    <!-- <i class="fas fa-edit"></i> -->
                    <span style="font-size: 48px;">
                        <a href="{% url 'post-list' %}"><i class="fas fa-edit" style="color: rgb(50, 50, 50);"></i></a>
                    </span>
                   
                    <a href="{% url 'post-list' %}"</a><h6 class="text-secondary lead">Artículos</h6></a>
                    <p class="text-dark mr-5 ml-5">
                        Encontrarás artículos generales y de interés científico.
                    </p>
                    <div>
                        <!-- <a href="{% url 'post-list'  %}" >Ver más</a> -->
                        <p><a href="{% url 'post-list' %}" class="text-secondary">Ver más</a></p>

                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 clearfix">
            <div>
                <div class="text text-center">
                    <!-- <a href="{% url 'post-list' %}"><img class="rounded-circle" alt="100x100" width="100px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                    data-holder-rendered="true"> </a> -->

                    <span style="font-size: 48px;">
                        <a href="{% url 'post-list' %}"><i class="fas fa-users" style="color: rgb(50, 50, 50);"></i></a>
                    </span>
                   
                    <!-- <h6 class="lead">Comisión</h6> -->
                    <a href="{% url 'about' %}"</a><h6 class="text-secondary lead">Comisión</h6></a>
                    <p class="text-dark mr-5 ml-5">
                        Presentamos a los miembros de nuestra comisión directiva.
                    </p>
                    <div>
                        <!-- <a href="{% url 'post-list'  %}" >Ver más</a> -->
                        <p><a href="{% url 'about'  %}" class="text-secondary">Ver más</a></p>

                        <br>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 clearfix">
            <div>
                <div class="text text-center">
                    <!-- <a href="{% url 'estatuto'  %}"><img class="rounded-circle" alt="100x100" width="100px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                    data-holder-rendered="true"></a> -->
                    <span style="font-size: 48px;">
                        <a href="{% url 'post-list' %}"><i class="fas fa-book-open" style="color: rgb(50, 50, 50);"></i></a>
                    </span>
                        <!-- <h6 class="lead">Estatuto</h6> -->
                        <a href="{% url 'estatuto' %}"</a><h6 class="text-secondary lead">Estatuto</h6></a>
                        <p class="text-dark mr-5 ml-5">
                            Nuestro estatuto. Conocé nuestra misión y valores.
                        </p>
                        <div>
                            <!-- <a href="{% url 'estatuto'  %}" >Ver más</a> -->
                            <p><a href="{% url 'estatuto' %}" class="text-secondary">Ver más</a></p>
                            <br>
                        </div>
                    </div>
                </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 clearfix">
            <div>
                <div class="text text-center">
                    <!-- <a href="{% url 'about'  %}"><img class="rounded-circle" alt="100x100" width="100px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                    data-holder-rendered="true"> </a> -->
                    <span style="font-size: 48px;">
                        <a href="{% url 'post-list' %}"><i class="fas fa-paper-plane" style="color: rgb(50, 50, 50);"></i></a>
                    </span>
                        <!-- <h6 class="lead">Contacto</h6> -->
                        <a href="{% url 'about' %}"</a><h6 class="text-secondary lead">Contacto</h6></a>
                        <p class="text-dark mr-5 ml-5">
                            ¡Envianos tu consulta!, no dudes en hacerlo.
                        </p>
                        <!-- <a href="/contact">Ver más</a> -->
                        <div>
                            <p><a href="{% url 'about' %}" class="text-secondary">Ver más</a></p>
                            <!-- <p><a href="#" class="text-secondary">Secondary link</a></p> -->
                            
                            <br>
                        </div>

                    </div>
                </div>
        </div>       
        
    </div> 

  </div>
  

