<!-- seccion: sonbre nosotros -->
<section class="callaction">
    <div class="container">
        <br>

       
        <div class="row">
            <div class="col-12">
                <!-- Jumbotron -->
                <!-- <div class="jumbotron text-justify bg-light"> -->
                <div class="alert text-justify bg-light">
                        <!-- <div class="d-flex"> -->
                        <!-- <h3>Sobre <span class="highlight"><strong>Nosotros</strong></span> </h3> -->
                    <h5 class="display-4" style="font-size: 40px;">Sobre Nosotros</h5>
                    <p class="lead" style="font-size: 20px;">Promover y divulgar la dermatología dentro de las Ciencias Veterinarias</p>
                    <p class="lead" style="font-size: 15px;">La Sociedad de Dermatología Veterinaria Argentina (SADEVE),
                            es una institución científica, fundada el 30 de septiembre de 2009.
                            Sus propósitos son promover y divulgar la dermatología
                            dentro de las Ciencias Veterinarias, como así también estimular investigaciones
                            y el estudio de la misma en el ámbito universitario como en la actividad particular
                            de los profesionales que abarcan esta especialidad.</p>
                            
                            <p><a href="{% url 'about' %}" class="text-secondary"><i class="fas fa-link"></i> Saber más</a></p>

                            <!-- <a href="{% url 'about' %}" type="button" class="btn btn-outline-secondary ">Saber más</a> -->
                            
                     <!-- <div class="float-right"> -->
                                <!-- <a class="btn btn-large btn-theme btn-rounded" href="/about">Saber más</a> -->
                        
                    <!-- </div> -->
                </div> <!-- End Jumbotron -->
            </div>
        </div> <!-- End Row -->

        <div class="row">
            <div class="col-12">
                <!-- Jumbotron -->
                <!-- <div class="jumbotron text-justify bg-light"> -->
                <h5 class="display-4 mt-3" style="font-size: 30px;">Ser socio tiene sus beneficios</h5>
                <div class="alert text-justify bg-light">
                        <!-- <div class="d-flex"> -->
                        <!-- <h3>Sobre <span class="highlight"><strong>Nosotros</strong></span> </h3> -->
                    
                    <p class="lead" style="font-size: 20px;">Existen cuatro categorías de asociados.

                    </p>
                    <div class="row mt-2 mr-1 ml-1"> 
                    <p class="text-justify lead mb-4" style="font-size: 15px;" >
                        Lo que lees es  <u>EJEMPLIFICATIVO</u> copiado del estatuto, lo que hay que poner aca son los beneficios pero quedaria asi.
                    </p> 
                    <p class="text-justify lead mb-4" style="font-size: 15px;" >
                    Socios <u>HONORARIOS</u> aquellos que, con residencia en el país o fuera de él, se destaquen por su labor científica, por sus servicios prestados a la Asociación o por determinadas condiciones personales y a propuesta de la Comisión Directiva y juicio de los dos tercios de los integrantes de la Asamblea merezcan ese homenaje.
                    </p>
                    <p class="text-justify lead mb-4" style="font-size: 15px;">
                        Socios <u>VITALICIOS</u> los que cuenten con una antigüedad efectiva de 30 (treinta) años como socios activos, sin perder esta condición.
                    </p>
                    <p class="text-justify lead mb-4" style="font-size: 15px;" >
                        Socios <u>ACTIVOS</u>, a partir de la fecha de aceptación como tales por la Comsión Directiva, quienes cumplan los siguientes requisitos: ser veterinario o médico veterinario egresado de universidades argentinas o los que tuvieren título extranjero revalidado en el país, asociados a la Sociedad de Medicina Veterinaria e interesados en los objetivos de la Asociación que manifiesten por escrito su voluntad de pertenecer a ella,De la decisión de la Comisión Directiva, deberá dejarse constancia en el Acta. En caso de rechazo solo deberá quedar constancia de ello sin que sea obligatorio expresar las causas. Serán aceptados por la Comisión Directiva por mayoría simple de votos
                    </p>
                    
                    <p class="text-justify lead mb-4" style="font-size: 15px;" >
                        Socios <u>PROTECTORES</u> los que con sus donativos de dinero, bienes o servicios fomenten en forma notoria los fines de la entidad.
                    </p>
                    
                    <p class="text-justify lead mb-4" style="font-size: 15px;" >
                        Socios <u>ADHERENTES</u> todas aquellas personas que a juicio de la Comisión Directiva puedan pertenecer a la Asociación sin reunir las condiciones mencionadas en los artículos 4, 5, 6 y 7 .
                    </p>
                    </div>
                    <!-- <p class="lead" style="font-size: 15px;">La Sociedad de Dermatología Veterinaria Argentina (SADEVE),
                            es una institución científica, fundada el 30 de septiembre de 2009.
                            Sus propósitos son promover y divulgar la dermatología
                            dentro de las Ciencias Veterinarias, como así también estimular investigaciones
                            y el estudio de la misma en el ámbito universitario como en la actividad particular
                            de los profesionales que abarcan esta especialidad.</p>
                            
                            <p><a href="{% url 'about' %}" class="text-secondary"><i class="fas fa-link"></i> Saber más</a></p> -->

                            <!-- <a href="{% url 'about' %}" type="button" class="btn btn-outline-secondary ">Saber más</a> -->
                            
                     <!-- <div class="float-right"> -->
                                <!-- <a class="btn btn-large btn-theme btn-rounded" href="/about">Saber más</a> -->
                        
                    <!-- </div> -->
                </div> <!-- End Jumbotron -->
            </div>
        </div> <!-- End Row -->
    </div>
</section>
<!-- Fin seccion: sobre nosotros -->




