{% load static %}


 
<!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <!-- <script src="{% static 'index-look/js/jquery.js' %}"></script> -->
  <!-- <script src="{% static 'index-look/js/jquery.easing.1.3.js' %}"></script> -->
  <!-- <script src="{% static 'index-look/js/bootstrap.js' %}"></script> -->
  <!-- <script src="{% static 'index-look/js/jcarousel/jquery.jcarousel.min.js' %}"></script>
  <script src="{% static 'index-look/js/jquery.fancybox.pack.js' %}"></script>
  <script src="{% static 'index-look/js/jquery.fancybox-media.js' %}"></script>
  <script src="{% static 'index-look/js/google-code-prettify/prettify.js' %}"></script>
  <script src="{% static 'index-look/js/portfolio/jquery.quicksand.js' %}"></script>
  <script src="{% static 'index-look/js/portfolio/setting.js' %}"></script>
  <script src="{% static 'index-look/js/jquery.flexslider.js' %}"></script>
  <script src="{% static 'index-look/js/jquery.nivo.slider.js' %}"></script>
  <script src="{% static 'index-look/js/modernizr.custom.js' %}"></script>
  <script src="{% static 'index-look/js/jquery.ba-cond.min.js' %}"></script>
  <script src="{% static 'index-look/js/jquery.slitslider.js' %}"></script>
  <script src="{% static 'index-look/js/animate.js' %}"></script> -->


  <!-- <script src="{% static 'static_bootstrap4/plugins/jquery_3.4.1/jquery-3.4.1.min.js' %}"></script> -->






  <!-- Template Custom JavaScript File -->
  <!-- <script src="{% static 'index-look/js/custom.js' %}"></script> -->


