{% load static %}

<section class="callaction">
<div class="container" style="width: 100%; height:12px">
<!-- INDICADORES -->
<div id="sadeve_slider " class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="sadeve_slider" data-slide-to="0" class="active"></li>
        <li data-target="sadeve_slider" data-slide-to="1" ></li>
        <li data-target="sadeve_slider" data-slide-to="2" ></li>
    </ul>

   <!-- IMAGENES -->
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="{{ slider_data.img1.url }}"  class="img-fluid" />
            <div class="carousel-caption">
                <!-- <h3 class="float-right">PRIMER TITULO</h3>
                <p>Esta es la descripcion de la primera imagen</p> -->
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ slider_data.img2.url }}" class="img-fluid" />
            <div class="carousel-caption">
                <!-- <h3>SEGUNDO TITULO</h3>
                <p>Esta es la descripcion de la segunda imagen</p> -->
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ slider_data.img4.url }}" class="img-fluid"  />
            <div class="carousel-caption">
                <!-- <h3 class="float-left">TERCER TITULO</h3>
                <p>Esta es la descripcion de la tercera imagen</p> -->
            </div>
        </div>

    </div>

    <!-- CONTROLES -->
    <a href="#sadeve_slider" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
    <a href="#sadeve_slider" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>

</div>
</div>
</section>